body{
        text-align: center;
}

.grid-continer{
        display: grid;
        grid-template: 150px / auto auto auto;
        grid-gap: 10px;
        background-color: brown;
        padding: 10px;
}
.grid-continer > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
}